
body{
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh; 
}

.welcome-text h1{
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.welcome-text p{
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.panel{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.question-container{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    background-color: #c7dddf;
    font-size: x-large;
    text-align: center;
      
}

.questions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.choices button{
    display: inline-flex;
    margin: 10px;

}

.start-button {
    border-radius: 5px;
    background-color: aqua;
}
.result{
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: center;
    font-size: 50px;
      
}

.hide {
    display: none;
}

.show{
  display: block;
  align-items: center;
}